
<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Weather Icon Showcase | HTML, CSS</title>


<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
  <header>
    <h1>纯CSS天气图标</h1>
  </header>
  <div class="showcase">
    <a class="canvas" id="sunny" href="https://www.womengda.cn/" target="_blank">
      <div class="sun">
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
      </div>
    </a>
    <a class="canvas" id="partially-cloudy" href="https://www.womengda.cn/" target="_blank">
      <div class="sun">
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
      </div>
      <div class="cloud"></div>
    </a>
    <a class="canvas" id="rain" href="https://www.womengda.cn/" target="_blank">
      <div class="sun">
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
        <div class="beam"> </div>
      </div>
      <div class="cloud">
        <div class="cloud-copy"></div>
        <div class="rain">
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
        </div>
      </div>
      </a>
      <a class="canvas" id="thunderstorm" href="https://www.womengda.cn/" target="_blank">
      <div class="cloud">
        <div class="cloud-copy"></div>
        <div class="rain">
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="lightning"></div>
        </div>
      </div></a>
      
      <a class="canvas" id="snow" href="https://www.womengda.cn/" target="_blank">
      <div class="cloud">
        <div class="cloud-copy"></div>
        <div class="snow">
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
          <div class="flake">
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
            <div class="flake-part"></div>
          </div>
        </div>
      </div></a>
      
      <a class="canvas" id="rainy" href="https://www.womengda.cn/" target="_blank">
      <div class="clouds">
        <div class="cloud">
          <div class="cloud-copy"></div>
          <div class="rain">
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
          </div>
        </div>
        <div class="cloud">
          <div class="cloud-copy"></div>
          <div class="rain">
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
          </div>
        </div>
      </div></a>
      
      <a class="canvas" id="broken-clouds" href="https://www.womengda.cn/" target="_blank">
      <div class="clouds">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
      </div></a>
      
      <a class="canvas" id="scattered-clouds" href="https://www.womengda.cn/" target="_blank">
      <div class="clouds">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
      </div></a>
      
      <a class="canvas" id="mist" href="https://www.womengda.cn/" target="_blank">
      <div class="mist">
        <div class="mist-line"></div>
        <div class="mist-line"></div>
        <div class="mist-line"></div>
        <div class="mist-line"></div>
        <div class="mist-line"></div>
      </div></a></div>
</div>

  
</body>
</html>
