@import "./variable.scss";

#nprogress .bar {
	background: $theme-color !important; //自定义颜色
}
.module {
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 5px;
}

.module_header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 5px 10px;
}
